<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="getUserBy"  parameterType="Integer" resultType="com.example.domain.User">
        select * from userinfo where id = #{id}
    </select>
    <select id="getUserList" resultType="com.example.domain.User">
        select * from userinfo
    </select>
    <insert id="addUser" parameterType="com.example.domain.User" >
        insert into userinfo values(#{id,jdbcType=INTEGER},#{name},#{age},#{phone},database())
    </insert>
</mapper>